.idea
refs/enyen_env
refs/jacomodel
refs/test_sonnet
acme
pwil
saved_model
saved_model_test
eval_loop
train_loop
learner
*_loop*
learn_loop_0
stable-baselines
z_tools

*model_*
Keras-GAN/cyclegan/images
tf_logs/
tf_logs_archieved/
*.zip

#GAN_v2/
GAN_v2
GAN_v2/fst/data/train2014/
GAN_v2/fst/data/imagenet-vgg-verydeep-19.mat
GAN_v2/fst/data/train2014.zip
GAN_v2/fst/ckp/
GAN_v2/pytorch-CycleGAN-and-pix2pix/datasets/maps
GAN_v2/pytorch-CycleGAN-and-pix2pix/datasets/maps.zip

muzero-general
pybullet_env
saveimgs
testSet
tf_logs
z_monitor_logs
z_archieved

*.pyc
__pycache__


#all the models
./PPO2_*
PPO2_*
./PPO2_insd_mix222222222222_resv2_a2_400.0e4
#PPO2_insd_mix222222222222_resv2_a2_400.0e4

#yolo
*.weights
**.weights
yolov4/*.weights
yolov4/darknet
yolov4/*.weights
